fastapi
uvicorn
sqlalchemy>=2.0.25
alembic>=1.13.1
psycopg[binary]
pydantic
pydantic-settings
passlib[bcrypt]
pyjwt
python-multipart
pydantic[email]
pymupdf

sentence-transformers

chromadb
google-generativeai
httpx
